body {
  background-color: black;
  color: white;
}

a {
  color: pink;
}
a:hover {
  color: black;
  background-color: white;
}

p {
  padding: 16px;
  margin: 1em;
  border: 3px solid #333;
  height: 200px;
  width: 80%;
}