html {
  scroll-behavior: smooth;
}

body {
  font: 1rem/1.5 sans-serif;
  background-color: black;
  color: white;
}

a {
  color: papayawhip;
}

a:hover {
  color: black;
  background-color: white;
}

p span {
  font-size: 200%;
  color: papayawhip;
}

img {
  padding: 10px;
  border: 1px solid #fff;
}

div {
  height: 3000px;
}

p {
  padding: 16px;
  margin: 1em;
  border: 3px solid #333;
  height: 100px;
  width: 80%;
}

@media (max-width: 700px) {
  p {
    border: 3px solid red;
    width: 600px;
  }
}














